$menu-item-color-hover: #ff7200

// Header
.header
    // margin-bottom: 50px

.logo
    display: block
    margin: 20px 0
    text-align: center
// MAin Navigation
.main-nav
    font-size: 18px
    font-weight: 500
    padding-left: 0
    margin: 15px 0
    .main-nav-item
        display: inline-block
        margin-right: 20px
        &:hover .main-nav-item-link,
        &.current .main-nav-item-link
            color: $menu-item-color-hover
    .main-nav-item-link
        padding: 20px 0
        display: block
        transition: all .3s

.header-banner
    background: url("../images/header-bg.jpg") no-repeat center
    background-size: cover
    padding: 70px 0
    text-align: center
    h1
        font-weight: 500
        font-size: 72px
        text-transform: uppercase
        color: #fff


