 // Menus
 .moto-widget-menu {
     text-align: center;
     padding-top: 120px;
 }
 
 .moto-widget-menu-toggle-btn {
     background: @baseColor1_3;
 }
 
 .moto-widget-menu-sublist {
     background: @baseColor2_3;
     .moto-widget-menu-link {
         color: @baseColor3_3;
     }
 }
 
 .moto-widget-menu-list {
     > .moto-widget-menu-item {
         &:after {
             background: @baseColor2_3;
         }
         > .moto-widget-menu-link {
             color: @baseColor2_3;
             &:hover, &.moto-widget-menu-link-active {
                 color: @baseColor1_3;
             }
         }
     }
 }
 #moto-menu-10,
 #moto-menu-13,
 #moto-menu-14 {
     .moto-widget-menu-link-arrow { display: none; }
 }

 // Images
 .moto-widget-image {
     width: 300px;
     height: 300px;
     margin: 56px auto 0;
     .moto-widget-image-link {
         &:before {
             opacity: 0;
             background: fade(@customColor1, 50%);
         }
         &:after {
             opacity: 0;
             color: @baseColor3_1;
         }
         &:hover:before,
         &:hover:after {
             opacity: 1;
         }
     }
     .moto-widget-image-picture {
         margin: 0;
     }
 }
 
 // Buttons
 [id^="moto-button-"] {
     padding-top: 115px;
 }
 
 .moto-widget-button-link {
     color: @baseColor2_3;
     font-family: 'Maven Pro', sans-serif;
     font-weight: 400;
     font-style: normal;
     background-color: transparent;
     border-color: #fe514c;
     &:before {
         color: @baseColor1_3;
         background: transparent;
     }
     &:hover {
         color: @baseColor1_3;
         &:before {
             color: @baseColor1_3;
         }
     }
 }
 
 #moto-button-3 {
     .moto-widget-button-link {
         background-color: @baseColor1_5;
         border-color: @baseColor1_3;
         &:hover {
             color: @baseColor3_3;
         }
     }
 }
 
 #moto-button-5 {
     .moto-widget-button-link {
         background: @baseColor1_3;
         color: @baseColor3_3;
         &:hover {
             color: @baseColor2_3;
         }
     }
 }
 
 #moto-button-6 {
     .moto-widget-button-link {
         background: @baseColor2_3;
         color: @baseColor3_3;
     }
 }
 
 // Social Icons
 [id^="moto-social-"] {
     padding-top: 120px;
     text-align: center;
     .moto-widget-social-links-item {
         margin-left: 5px;
         margin-right: 5px;
     }
     .moto-widget-social-links-link {
         color: @baseColor3_3;
         border-color: @baseColor1_3!important;
     }
 }
 
 #moto-social-1 {
     .moto-widget-social-links-link {
         color: @baseColor2_3;
     }
 }
 
 #moto-social-7 {
  .moto-widget-social-links-link {
    color: @baseColor2_3;
  }
 }

 #moto-social-8 {
  .moto-widget-social-links-link {
    color: @baseColor3_3;
    background-color: @baseColor1_3;
    border-color: @baseColor1_1;
  }
 }

 #moto-social-9 {
  .moto-widget-social-links-link {
    color: @baseColor1_3;
  }
 }

 #moto-social-10 {
  .moto-widget-social-links-link {
    background-color: @baseColor2_5;
  }
 }