 // Menus
 .moto-widget-menu {
 	text-align: center;
 	padding-top: 120px;
 }

 .moto-widget-menu-toggle-btn { background: @baseColor1_3; }

 .moto-widget-menu-sublist {
 	background: @baseColor2_3;
 	.moto-widget-menu-link { color: @baseColor3_3; }
 }

 .moto-widget-menu-list {
 	> .moto-widget-menu-item {
 		&:after { background: @baseColor2_3; }
 		
 		> .moto-widget-menu-link {
 			color: @baseColor2_3;
 			&:hover,
 			&.moto-widget-menu-link-active { color: @baseColor1_3; }
 		}
 	}
 }

// Images
 .moto-widget-image {
 	width: 300px;
 	height: 300px;
 	margin: 56px auto 0;
 	.moto-widget-image-link {
 		&:before {
 			opacity: 0;
 			background: fade(@customColor1, 50%);	
 		}
 		&:after { 
 			opacity: 0;
			color: @baseColor3_1;
 		}
 		&:hover:before,
 		&:hover:after { opacity: 1; }
 	}
 	.moto-widget-image-picture { margin: 0; }
 }

 // Buttons
 .moto-widget-button-link {
 	color: @baseColor2_3;
 	font-family: 'Maven Pro', sans-serif;
  	font-weight: 400;
  	font-style: normal;
	background-color: transparent;
  	border-color: #fe514c;
  	&:before {
  		color: @baseColor1_3;
  		background: transparent;
  	}
  	&:hover {
  		color: @baseColor1_3;
  		&:before { color: @baseColor1_3; }
  	}
 }