// $1. Menus
// -----------------------------------------------------

// Align left
&.moto-align-right {
    .moto-widget-menu-list {
        > .moto-widget-menu-item {
            .moto-widget-menu-sublist {
                .moto-widget-menu-item {
                    .moto-widget-menu-sublist {
                        left: calc(~"-100% - 2px");
                    }
                }
            }
        }
    }
}

// Menu arrow(main menu)
.moto-widget-menu-link-arrow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    font-size: 12px;
    display: block;
    text-align: center;
    &:before { content: "\f0d7"; }
}

// Css triangle for menu
.moto-widget-menu-sublist {
    &:after {
        position: absolute;
        top: 20px;
        left: -5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 5px 4px 0;
        border-color: transparent @baseColor4_3 transparent transparent;
        content: "";
    }
}


// $6. Grid Gallery
// --------------------------------------------------------------


// $7. Sliders and Carousel
// --------------------------------------------------------------

// 7.01. Slider with circular pagination and simple arrows without background
#moto-slider-1 {
    &.moto-preset-default {
        // Slider Pagination
        .bx-pager-item {
            width: 16px;
            height: 16px;
            margin: 0 4px;
            @media screen and (max-width: @const_media_mobile-h_max_width) {
                width: 10px;
                height: 10px;
            }
        }
        .bx-pager-link {
            border: 2px solid;
            border-radius: 50%;
        }
        // Slider Caption
        .bx-caption {
            text-align: center;
            padding: 20px;
            font-size: 55px;
            line-height: 60px;
            @media screen and (max-width: @const_media_tablet_max_width) {
                font-size: 40px;
                line-height: 42px;
            }
            @media screen and (max-width: @const_media_mobile-h_max_width) {
                font-size: 20px;
                line-height: 24px;
            }
        }
        // Prev, Next Arrows
        .bx-controls-direction {
            .bx-prev,
            .bx-next {
                &:before {
                    font-size: 24px;
                    line-height: 24px;
                }
            }
            .bx-prev {
                left: 10%;
                @media screen and (max-width: @const_media_tablet_max_width) {
                    left: 30px;
                }
                @media screen and (max-width: @const_media_mobile-h_max_width) {
                    left: 10px;
                }
            }
            .bx-next {
                right: 10%;
                @media screen and (max-width: @const_media_tablet_max_width) {
                    right: 30px;
                }
                @media screen and (max-width: @const_media_mobile-h_max_width) {
                    right: 10px;
                }
            }
        }
    }    
}


// $9. Contact Forms
// --------------------------------------------------------------

// 9.01. Contact form for Mailchimp
#moto-contact-1 {
    &.moto-preset-default {
        .moto-widget-contact_form-group {
            display: inline-block;
            min-width: 300px;
            @media screen and (max-width: @const_media_tablet_max_width) {
                min-width: 100%;
            }
        }
        .moto-widget-contact_form-buttons {
            display: inline-block;
            vertical-align: top;
            margin-left: 5px;
            @media screen and (max-width: @const_media_tablet_max_width) {
                margin-left: 0;
            }
        }
        .moto-widget-contact_form-success,
        .moto-widget-contact_form-danger {
            position: absolute;
            bottom: 14px;
            @media screen and (max-width: @const_media_tablet_max_width) {
                bottom: 52px;
            }
        }
        .moto-widget-contact_form-field {
            height: 40px;
            line-height: 20px;
            border-radius: 3px;
            padding: 5px 43px 5px 12px;
        }
    }    
}